@using ECommerce.Areas.Admin.Models
@model RoleUpdateViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout/AdminLayout.cshtml";
}

<h1>Update Role</h1>

<form method="post">
    <div class="form-group">
        <label>Role Id</label>
        <input type="text" name="id" value="@Model.id" class="form-control" />
    </div>
    <div class="form-group">
        <label>Role Name</label>
        <input type="text" name="name" value="@Model.name" class="form-control" />
    </div>

    <button class="btn btn-info">Update</button>
</form>