@using EntityLayer.Concrete
@model City
@{
    ViewData["Title"] = "AddCity";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout/AdminLayout.cshtml";
}

<h1>Add City</h1>


<form method="post">
    <div class="form-group">
        <label>City Name</label>
        <input type="text" name="Name" class="form-control" />
    </div>

    <button class="btn btn-info">Save</button>
</form>