@using EntityLayer.Concrete
@model City
@{
    ViewData["Title"] = "UpdateCity";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout/AdminLayout.cshtml";
}

<h1>Update City</h1>




<form method="post">
    <input type="hidden" value="@Model.Id" name="Id" class="form-control" />
    <div class="form-group">
        <label>City Name</label>
        <input type="text" value="@Model.Name" name="Name" class="form-control" />
    </div>

    <button class="btn btn-info">Update</button>
</form>
