
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/GuestLayout/GuestLayout.cshtml";
}

<h1> City-Village-Gender Default </h1>
<h1>ROLES - ADMIN/USER add give userrole admin and user...</h1>

<h1> AboutUs-Brand-Category-SubCategory-ContactUs Default </h1>