@using EntityLayer.Concrete
@model StockAmount
@{
    ViewData["Title"] = "AddStockDetail";
    Layout = "~/Areas/User/Views/Shared/UserLayout/UserLayout.cshtml";
}

<h1>Add Stock Detail</h1>

<form method="post">
        <input type="hidden" name="ProductId" value="@ViewBag.pid" class="form-control" />
    <div class="form-group">
        <label>Stock Amount</label>
        <input type="text" value="@Model.StockScore" name="StockScore" class="form-control" />
    </div>

    <button class="btn btn-info">Save</button>
</form>