<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/GuestTemplate/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">David Williams</span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                        <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/SignInUser/LogOut/">Log Out</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" style="height;50px; width:50px;" class="rounded-circle" src="~/media/eclogo.png" />
                </div>
            </li>
            <li>
                <a href="/User/UserDashboard/Index/"><i class="fa fa-flask"></i> <span class="nav-label"> Dashboard </span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-product-hunt"></i> <span class="nav-label">Products</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/User/UserProduct/Index/">All Products</a></li>
                    <li><a href="/User/UserProduct/MyProduct/">My Products</a></li>
                    <li><a href="/User/UserProduct/AddProduct/">Product Add</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-product-hunt"></i> <span class="nav-label">Comments</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/User/ProductComment/MyComments/">My Comments</a></li>
                    <li><a href="/User/ProductComment/MyProductComments/">My Product Comments</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-product-hunt"></i> <span class="nav-label">My Carts</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/User/ShoppingCart/Index/">My Shopping Carts</a></li>
                    <li><a href="/User/ProductCart/Index/">My Product Carts</a></li>
                </ul>
            </li>
            <li class="landing_link">
                <a href="/Product/LatestProducts/"><i class="fa fa-plus"></i> <span class="nav-label"> Latest Products </span> <span class="label label-warning float-right">NEW</span></a>
            </li>
            <li class="landing_link">
                <a href="/Product/BestSeller/"><i class="fa fa-star"></i> <span class="nav-label"> Best Seller </span> <span class="label label-warning float-right">TOP</span></a>
            </li>
            <li class="landing_link">
                <a href="/Product/HighestPerforming/"><i class="fa fa-superpowers"></i> <span class="nav-label"> Top Performers </span> <span class="label label-warning float-right">USE</span></a>
            </li>
            <li class="landing_link">
                <a href="/AboutUs/Index/"><i class="fa fa-font"></i> <span class="nav-label"> About Us </span></a>
            </li>
            <li class="landing_link">
                <a href="/ContactUs/Index/"><i class="fa fa-comment"></i> <span class="nav-label"> Contact Us </span></a>
            </li>
        </ul>
    </div>
</nav>