<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" style="height;160px; width:160px;" class="rounded-circle" src="~/media/eclogo.png" />
                </div>
                <div class="logo-element">
                    <img alt="image" style="height;50px; width:50px;" class="rounded-circle" src="~/media/eclogo.png" />
                </div>
            </li>
            <li class="landing_link">
                <a href="/AboutUs/Index/"><i class="fa fa-font"></i> <span class="nav-label"> About Us </span></a>
            </li>
            <li class="landing_link">
                <a href="/ContactUs/Index/"><i class="fa fa-comment"></i> <span class="nav-label"> Contact Us </span></a>
            </li>
        </ul>
    </div>
</nav>