@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Admin</title>
    <link href="~/GuestTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/GuestTemplate/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="~/GuestTemplate/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/GuestTemplate/css/animate.css" rel="stylesheet">
    <link href="~/GuestTemplate/css/style.css" rel="stylesheet">
</head>
<body class="">
    <div id="wrapper">
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/AdminLayout/AdminNavbar.cshtml")
        <div id="page-wrapper" class="gray-bg">
            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/AdminLayout/AdminHeader.cshtml")
            @RenderBody()
            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/AdminLayout/AdminFooter.cshtml")
        </div>
        </div>
    <!-- Mainly scripts -->
    <script src="~/GuestTemplate/js/jquery-3.1.1.min.js"></script>
    <script src="~/GuestTemplate/js/popper.min.js"></script>
    <script src="~/GuestTemplate/js/bootstrap.js"></script>
    <script src="~/GuestTemplate/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/GuestTemplate/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/GuestTemplate/js/inspinia.js"></script>
    <script src="~/GuestTemplate/js/plugins/pace/pace.min.js"></script>
</body>
</html>