<div class="footer">
    <div class="float-right">
        <a href="/AboutUs/Index/" style="color:darkgoldenrod;">
            <i class="fa fa-font"></i> About Us
        </a>
        Total <strong>13 Companys - 131 Products</strong> Have.
        <a href="/ContactUs/Index/" style="color:indigo;">
            <i class="fa fa-comment"></i> Contact Us
        </a>
    </div>
    <div>
        <strong>Copyright</strong> E-Commerce Inc. &copy; 2022-@DateTime.Now.Year
    </div>
</div>